#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px gray;
}

.card-img {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: inherit;
  box-shadow: inherit;
}


.card-noimg {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0px;
  background-color: white;
  border-radius: inherit;
  box-shadow: inherit;
  /* text-align: center; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  color: black;
}